async-retrying~=0.2
colorlog~=6.8
homeassistant~=2025.8.0
pip~=25.2
python-dateutil~=2.9
numpy~=2.1
mutagen~=1.48.1

#to upgrade existing venv, run the follwing in the terminal (followed by 2 restarts of HA):
#          pip install --upgrade --force-reinstall -r requirements.txt